.header__image {
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  margin: 10px; }

.header__color, .header__navbar--secondary {
  background: #d9d9d9; }

.header__navbar {
  text-align: right; }

.header__navbar--secondary {
  text-align: center; }

.header__title {
  text-align: end; }

/*codigo para layout*/
#grilla {
  display: grid;
  grid-template-areas: "presentacion tabla" "pilares tabla";
  grid-template-rows: 1fr  3fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  background-color: grey;
  justify-items: center;
  align-items: center;
  padding: 15px; }

section#presentacion {
  grid-area: presentacion;
  margin: 15px;
  text-align: justify;
  padding: 15px; }

section#tabla {
  grid-area: tabla;
  margin: 15px; }

section#pilares {
  grid-area: pilares;
  margin: 15px;
  text-align: center; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: end; }

body {
  margin: 0px;
  padding: 5px;
  overflow-x: hidden;
  width: 100%; }

a {
  text-decoration: none;
  color: black; }

h1 {
  font-family: 'Roboto Condensed',serif;
  color: black;
  font-size: 45px; }

h2 {
  text-align: center;
  margin-top: 10px;
  font-size: calc(20px + 1.8vw); }

h3 {
  text-align: center;
  margin-top: 10px;
  font-size: calc(10px + 1.0vw);
  font-weight: 450; }

div {
  padding: 5px;
  margin: 3px; }

div a img {
  width: 260px;
  height: 260px;
  transition: all 1s; }

div a img:hover {
  width: 290px; }

p {
  font-family: 'Lato', sans-serif;
  margin-bottom: 0px;
  color: black;
  font-size: calc(15px + 0.5vw); }

img {
  margin: 5px; }

nav {
  font-weight: 450; }

form {
  text-align: center; }

footer {
  justify-content: space-between; }

.negrita {
  font-weight: 500; }

ul li {
  font-size: 20px; }

/*codigo para el menu desplegable*/
ul ul {
  display: none;
  position: absolute; }
  ul ul li {
    display: block;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px; }

ul li:hover ul {
  display: block; }

/*codigo para tablas / td display:inline-block*/
table {
  color: #111111;
  font-family: 'Roboto Condensed';
  background-color: #dbd0c6;
  border: solid black;
  width: 100%; }

th {
  text-align: center;
  border: solid black;
  border-width: 0.5px; }

td {
  text-align: center;
  border: solid black;
  border-width: 0.5px; }

thead {
  font-size: calc(10px+0.6vw); }

tbody {
  font-size: calc(10px+0.5vw); }

@media (max-width: 576px) {
  table {
    width: 190;
    display: table-row wrap; }
  tbody {
    font-size: 12px;
    display: flex wrap; }
  thead {
    font-size: 14px;
    display: flex wrap; } }

/*codigo para elementos especificos*/
.tablaProfesionales {
  color: #050505;
  font-family: 'Roboto Condensed';
  background-color: #d0cfd6;
  display: table; }
  .tablaProfesionales tbody tr:nth-child(odd) {
    background-color: #aca9ab; }
  .tablaProfesionales tbody tr:nth-child(even) {
    background-color: #ebebeb; }

.colorBase {
  background: linear-gradient(to top, #545454, #d9d9d9);
  background-size: cover; }

.colorAgrimensura {
  background: linear-gradient(to top, #a2231d, #b6504b, #db8d89); }

.colorAmbiente {
  background: linear-gradient(to top, #008037, #37a265, #6bd699); }

.colorArquitectura {
  background: linear-gradient(to top, #ff8200, #ffb664, #ffdeb8); }

.colorElectromecanica {
  background: linear-gradient(to top, #ff1616, #ff5f5f, #ff9999); }

.colorEstructuras {
  background: linear-gradient(to top, #bb6908, #dba15f, #e8c399); }

.colorGestion {
  background: linear-gradient(to top, #8c52ff, #ac83fd, #cebaf6); }

.colorHidraulica {
  background: linear-gradient(to top, #289de1, #6cc9ff, #addefa); }

.colorVialidad {
  background: linear-gradient(to top, #fdd431, #fde587, #fff1b7); }

.colorBase__mono {
  background-color: #d9d9d9;
  background-size: cover; }

.colorAgrimensura__mono {
  background-color: #b6504b; }

.colorAmbiente__mono {
  background-color: #37a265; }

.colorArquitectura__mono {
  background-color: #ffb664; }

.colorElectromecanica__mono {
  background-color: #f83f3f; }

.colorEstructuras__mono {
  background-color: rgba(212, 148, 76, 0.897); }

.colorGestion__mono {
  background-color: #b390f8; }

.colorHidraulica__mono {
  background-color: rgba(14, 164, 252, 0.767); }

.colorVialidad__mono {
  background-color: rgba(243, 208, 66, 0.877); }

.textoAgrimensura {
  color: #b6504b; }

.textoAmbiente {
  color: #37a265; }

.textoArquitectura {
  color: rgba(250, 145, 25, 0.836); }

.textoElectromecanica {
  color: #fa2424; }

.textoEstructuras {
  color: #dba15f; }

.textoGestion {
  color: #ac83fd; }

.textoHidraulica {
  color: #6cc9ff; }

.textoVialidad {
  color: rgba(236, 192, 16, 0.884); }

.gray1 {
  background-color: rgba(146, 146, 146, 0.897); }

.gray2 {
  background-color: #e2e0e0; }

table .ifAgrimensura:hover {
  color: #b32820; }

table .ifAmbiente:hover {
  color: #0b9748; }

table .ifArquitectura:hover {
  color: rgba(235, 129, 8, 0.836); }

table .ifElectromecanica:hover {
  color: #fa2424; }

table .ifEstructuras:hover {
  color: #be7623; }

table .ifGestion:hover {
  color: #6622f0; }

table .ifHidraulica:hover {
  color: #0f96e4; }

table .ifVialidad:hover {
  color: #ffe70d; }

.body__fondo {
  background-image: url(../images/Fondo.png);
  margin: 0px;
  padding: 0px;
  background-size: cover; }

/*codigo para imagenes*/
.cuadroTexto {
  border: solid #020202 1px; }

/*esta aplicado en quienes somos y en nuestras areas de trabajo de cada area*/
.encuadre {
  widows: 350px;
  height: 350px;
  border: solid black 1px;
  border-radius: 50px; }

.galeria {
  display: inline-block;
  width: 30%;
  align-items: center; }

.orden {
  display: flex;
  flex-wrap: wrap; }

.encuadreGral {
  border: dashed maroon 1px;
  border-radius: 50px;
  max-height: 250px;
  align-self: center;
  justify-self: center; }

/*codigo para elementos especificos*/
.headerColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px; }

.sizePilar {
  width: 470px;
  border: solid maroon 1px;
  border-radius: 50px;
  justify-self: center; }

.fondoOscuro {
  background-color: #d9d9d9; }

.flecha {
  color: black;
  opacity: 1; }

.iconos {
  max-width: 40px;
  pointer-events: none; }

@media only screen and (min-width: 150px) {
  .size-xs-map {
    width: 200px;
    height: 250px; } }

@media only screen and (min-width: 455px) {
  .size-sm-map {
    width: 400px;
    height: 200px; }
  .titulo-sm {
    font-size: 18px; }
  .subtitulo-sm {
    font-size: 15px; } }

@media only screen and (min-width: 768px) {
  .size-md-map {
    width: 305px;
    height: 250px; }
  .titulo-md {
    font-size: 20px; }
  .subtitulo-md {
    font-size: 17px; } }

@media only screen and (min-width: 930px) {
  .size-lg-map {
    width: 370px;
    height: 300px; }
  .titulo-lg {
    font-size: 30px; }
  .subtitulo-lg {
    font-size: 20px; } }

@media only screen and (min-width: 1150px) {
  .size-xl-map {
    width: 450px;
    height: 400px; } }

.mapa {
  overflow: hidden; }

.bordeMapa {
  border: dashed black 1px;
  text-align: center;
  align-items: center; }

.bordeFormulario {
  border: inset white; }

/*codigo para modificas boot*/
.centrarContenido {
  max-width: 80%; }
