.colorBase{background: linear-gradient(to top, rgb(84,84,84), rgb(217,217,217));background-size: cover;} 
.colorAgrimensura{background: linear-gradient(to top, rgb(162, 35, 29), rgb(182, 80, 75), rgb(219, 141, 137));} 
.colorAmbiente{background: linear-gradient(to top, rgb(0, 128, 55),rgb(55, 162, 101), rgb(107, 214, 153));} 
.colorArquitectura{background: linear-gradient(to top, rgb(255, 130, 0),rgb(255, 182, 100), rgb(255, 222, 184));} 
.colorElectromecanica{background: linear-gradient(to top, rgb(255, 22, 22),rgb(255, 95, 95), rgb(255, 153, 153));} 
.colorEstructuras{background: linear-gradient(to top, rgb(187, 105, 8),rgb(219, 161, 95), rgb(232, 195, 153));} 
.colorGestion{background: linear-gradient(to top, rgb(140, 82, 255),rgb(172, 131, 253), rgb(206, 186, 246));} 
.colorHidraulica{background: linear-gradient(to top, rgb(40, 157, 225),rgb(108, 201, 255), rgb(173, 222, 250));} 
.colorVialidad{background: linear-gradient(to top, rgb(253, 212, 49),rgb(253, 229, 135), rgb(255, 241, 183));} 


.colorBase__mono{background-color: rgb(217,217,217);background-size: cover;} 
.colorAgrimensura__mono{background-color: rgb(182, 80, 75);} 
.colorAmbiente__mono{background-color: rgb(55, 162, 101);} 
.colorArquitectura__mono{background-color: rgb(255, 182, 100);} 
.colorElectromecanica__mono{background-color: rgb(248, 63, 63);} 
.colorEstructuras__mono{background-color:rgba(212, 148, 76, 0.897);} 
.colorGestion__mono{background-color: rgb(179, 144, 248);} 
.colorHidraulica__mono{background-color: rgba(14, 164, 252, 0.767);} 
.colorVialidad__mono{background-color: rgba(243, 208, 66, 0.877);}

.textoAgrimensura{color:rgb(182, 80, 75);}
.textoAmbiente{color: rgb(55, 162, 101); }
.textoArquitectura{color:rgba(250, 145, 25, 0.836);}
.textoElectromecanica{ color: rgb(250, 36, 36);}
.textoEstructuras{ color: rgb(219, 161, 95);}
.textoGestion{ color: rgb(172, 131, 253);}
.textoHidraulica{color: rgb(108, 201, 255);}
.textoVialidad{color:rgba(236, 192, 16, 0.884);
    }

.gray1{background-color: rgba(146, 146, 146, 0.897);}
.gray2{background-color: rgb(226, 224, 224);}

table{
.ifAgrimensura:hover{color: rgb(179, 40, 32);}
.ifAmbiente:hover{color: rgb(11, 151, 72); }
.ifArquitectura:hover{color:rgba(235, 129, 8, 0.836);}
.ifElectromecanica:hover{ color: rgb(250, 36, 36);}
.ifEstructuras:hover{ color: rgb(190, 118, 35);}
.ifGestion:hover{ color: rgb(102, 34, 240);}
.ifHidraulica:hover{color: rgb(15, 150, 228);}
.ifVialidad:hover{color:rgb(255, 231, 13);
}}