header {display: flex; flex-direction: row; justify-content: space-between;
    align-items:center; text-align: end;}


a {text-decoration: none; color: black;}
h1 { font-family: 'Roboto Condensed',serif; color:black; font-size: 45px;}
h2{text-align: center; margin-top:10px}
div{padding:15px; margin: 5px}
div img{
    width: 200px; height: 200px;
    transition: all 1s;       
 }
 div img:hover {
    height: 240px; width: 240px;
    padding: 5px;
 }
 
p{font-family: 'Lato', sans-serif; margin-left: 25px; color: black;}
section{border:2px; border-style: inset black 1px;}
form {text-align: center;}
footer{justify-content: space-between;}
.negrita{font-weight: 800;}

/*codigo para el menu desplegable*/
ul{
    ul {display: none; position: absolute;
        li{ display: block; color: rgb(255, 255, 255); font-family: 'Lato', sans-serif;
            font-size: 20px;}
        }
    li:hover ul{display: block;}
}