header {display: flex; flex-direction: row; justify-content: space-between;
    align-items:center; text-align: end;}

body {margin:0px; padding: 5px; overflow-x: hidden; width:100% ;}


a {text-decoration: none; color: black;}
h1 { font-family: 'Roboto Condensed',serif; color:black; font-size: 45px;}
h2{text-align: center; margin-top:10px; font-size: calc(20px + 1.8vw)}
div{padding:5px; margin: 3px}
div {
    a{
        img{
        width: 260px; height: 260px;
        transition: all 1s;      
    }

    }  } 
div{  
    a img:hover {
    height: 290px; width: 290px;
    padding: 5px;
 }}
 
p{font-family: 'Lato', sans-serif; margin-bottom: 0px ; color: black;font-size: calc(15px + 0.5vw);}
img{margin: 5px}

form {text-align: center;}
footer{justify-content: space-between;}
.negrita{font-weight: 800;}

ul{
    li{font-size:20px}
}

/*codigo para el menu desplegable*/
ul{
    ul {display: none; position: absolute;
        li{ display: block; color: rgb(255, 255, 255); font-family: 'Lato', sans-serif;
            font-size: 20px;}
        }
    li:hover ul{display: block;}
}