.header__image {border-style: solid; border-color: black;border-radius: 10px; margin:10px;}
.header__color{background: rgb(217, 217, 217);}
.header__navbar{text-align: right}
.header__navbar--secondary{@extend.header__color;text-align: center;}
.header__title{text-align: end;}