
/*codigo para tablas / td display:inline-block*/
table {color: rgb(17, 17, 17) ; font-family:'Roboto Condensed'; 
    background-color: rgb(219, 208, 198);
    border: solid black; width: 100%;}
th {text-align: center;border: solid black; border-width: 0.5px;}
td {text-align: center;border: solid black; border-width: 0.5px;}
thead{font-size: calc(10px+0.6vw)}
tbody{font-size: calc(10px+0.5vw);}
@media (max-width: 576px) {
    table{width: 190; display: table-row wrap;}
    tbody {
    font-size: 12px; display: flex wrap;
    }
    thead{font-size:14px; display: flex wrap;}
}



/*codigo para elementos especificos*/
.tablaProfesionales{color: rgb(5, 5, 5) ; font-family:'Roboto Condensed'; 
    background-color: rgb(208, 207, 214); display: table;

    tbody tr:nth-child(odd) {
        background-color: #aca9ab;
      }
      
      tbody tr:nth-child(even) {
        background-color: #ebebeb;
      }}